src/main/mule/hellomule.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="hellomuleFlow" doc:id="590b46f0-6509-497a-8540-76e477ece69d" >
		<http:listener doc:name="Listener" doc:id="2a73f845-cf86-47bf-9182-61ae58695c8b" config-ref="HTTP_Listener_config" path="/hellomule"/>
		<set-payload value="Hello Mule" doc:name="Set Payload" doc:id="5a39aeb0-1ba2-481e-8262-7235a136e0df" />
		<logger level="INFO" doc:name="Logger" doc:id="eea6fa15-f65d-4651-b369-e6703bc9eb6b" message='#[output application/java&#10;---&#10;"Username: "++ Mule::p("secure::example.username")&#10;++"-"++&#10;"Password: " ++ Mule::p("secure::example.password")]'/>
	</flow>
</mule>
